.
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

Access-Control-Allow-Origin: *
<dom-module id="proyecto-final">
  <template >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div >
      <a href= "http://127.0.0.1:8081/components/demopolymer/">
        <img src="https://www.bbva.com/wp-content/uploads/2019/04/Logo-BBVA-1024x576.jpg"  width="100" height="50">
      </a>

       </div>
    <div hidden$={{logado}} style="background-color:navy; color:white; text-align:center;">
      <div class="container" style="text-align:center;" style="color:white">
        Ingrese el ID y Email del usuario que quiere buscar
      </div>
      <div class="container" style="color:white; text-align:center;" padding= "10px" >
        Email: <input type="email" value="{{Email::input}}">
      </div>
      <div class="container" style="color:white; text-align:center;">
        ID: <input type="password" value="{{id_Cliente::input}}">
      </div>
      <div class="container" style="text-align:center;">
        <button on-click="loginfinal" type="button" name="button" class="btn btn-success"padding= "10px">Ingresar</button>
      </div>

    </div>
    <div class="row" hidden$={{!logado}} style="background-color:navy; color:white; text-align:center;">
      <a class="container">El usuario existe y esta activo </span>

        <div class="container" hidden$={{!logado}} style="background-color:navy; color:white; text-align:center;">
        <button type="button" on-click="info_de_usuario" name="button" class="btn btn-success"> Ver informacion del usuario</button>
        <button type="button" name="button" on-click="vDocumentos" class="btn btn-success">Verificar documentos </button>
        <button type="button" name="button" on-click="vstatus" class="btn btn-success"> Status del usuario </button>
        <a href="http://127.0.0.1:8081/components/demopolymer/" style="color:white">Buscar otro usuario </span>
        <label ><script type="text/javascript">

        </script> </label>

    </div>
    </div>

    <div hidden$={{!infouser}}>
      <a class="container" >Informacion del usuario </span>
      <table class="table table-bordered" >
        <thead class ="thead-dark">
          <tr>
            <th scope="col"> ID </t>
            <th scope="col">RFC</t>
            <th scope="col">Nombre</t>
            <th scope="col"> Apellido Paterno </t>
            <th scope="col">Apellido Materno</t>
            <th scope="col">Email</t>
            <th scope="col">Producto contratado</t>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td scope="row" align="center">[[clientes.id_Cliente]]</td>
              <td align="center">[[clientes.RFC_ID]]</td>
              <td align="center">[[clientes.First_Name]]</td>
              <td align="center">[[clientes.Last_Name]]</td>
              <td align="center">[[clientes.Second_Last_Name]]</td>
              <td align="center">[[clientes.Email]]</td>
              <td align="center">[[clientes.producto]]</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div hidden$={{!documentos}}>
        <a class="container">Documentos capturados del usuario </span>
          <table class="table table-bordered" >
            <thead class="thead-dark">
              <tr>
                <th scope="col"> INE/IFE </t>
                <th scope="col">Acta de nacimiento</t>
                <th scope="col">Comprobante de domicilio</t>
                <th scope="col"> CURP </t>
                <th scope="col">comprobante de ingresos</t>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td scope="row" align="center"> <img src= [[icodoc0]] width="20" height="20"></td>
                  <td align="center"> <img src= [[icodoc1]] width="20" height="20"></td>
                  <td align="center"><img src= [[icodoc2]] width="20" height="20"></td>
                  <td align="center"><img src= [[icodoc3]] width="20" height="20"></td>
                  <td align="center"><img src= [[icodoc4]] width="20" height="20"></td>
                </tr>
            </tbody>
          </table>
    </div>

    <div hidden$={{!status}}>
        <a class="container" style="text-align:center;">Status general del usuario </span>
          <table class="table table-bordered" >
            <thead class="thead-dark">
              <tr>
                <th scope="col"> producto </t>
                <th scope="col">Ingresos</t>
                <th scope="col">egresos</t>
                <th scope="col"> Balance </t>
                <th scope="col">Candidato</t>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td scope="row" align="center">[[clientes.Documentos.0]]</td>
                  <td align="center">[[suming]]</td>
                  <td align="center">[[sumegre]]</td>
                  <td align="center">[[balance]]</td>
                  <td align="center"><img src= [[icobala]] width="20" height="20"></td>
                </tr>
            </tbody>
          </table>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/proyecto"
      content-type="application/json"
      crossDomain: true
      dataType:'jsonp'
      method="POST"
      handle-as="text"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class proyectoAPP extends Polymer.Element {
      static get is() { return 'proyecto-final'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          icobala: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          infouser: {
            type: Boolean,
            value: false
          },
          documentos: {
            type: Boolean,
            value: false
          },
          status: {
            type: Boolean,
            value: false
          },
          candidato: {
            type: Boolean,
            value: false
          },
          clientes: {
            type: Array,
            notify: true
          },
          icodoc0: {
            type: Text,
            notify: true
          },
          icodoc1: {
            type: Text,
            notify: true
          },
          icodoc2: {
            type: Text,
            notify: true
          },
          icodoc3: {
            type: Text,
            notify: true
          },
          icodoc4: {
            type: Text,
            notify: true
          },
          suming: {
            type: Number,
            notify: true
          },
          sumegre: {
            type: Number,
            notify: true
          },
          balance: {
            type: Number,
            notify: true
          }
        };
      }
      loginfinal() {
        var projectData = {"Email":this.Email , "id_Cliente":this.id_Cliente};
        console.log(projectData);
        this.$.doLogin.body = JSON.stringify(projectData);
        this.$.doLogin.generateRequest();
        console.log('Petición enviada');
      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        console.log(data);
        this.logado = true;
        console.log("Respuesta recibida del servidor");
        var request = new XMLHttpRequest();
        var id_cliente = this.id_Cliente;
        var peticion= 'http://localhost:3000/proyecto_final/'+id_cliente;
        request.open("GET", peticion, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        console.log(request.responseText);
        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }
      showError(error) {
        console.log("Hubo un error");
        alert("Datos ingresados incorrectos, valide");
        console.log(error);
        this.logado = false;
        }

        info_de_usuario(){
          this.infouser = true;
          this.documentos = false;
          this.status=false;
        }

        vDocumentos(){
          this.documentos=true;
          this.infouser = false;
          this.status=false;

            if (this.clientes.Documentos[0]==true){
              this.icodoc0= "https://image.flaticon.com/icons/svg/845/845646.svg";
            }else{
              this.icodoc0 ="https://image.flaticon.com/icons/svg/527/527494.svg";
            }
            if (this.clientes.Documentos[1]==true){
              this.icodoc1= "https://image.flaticon.com/icons/svg/845/845646.svg";
            }else{
              this.icodoc1 ="https://image.flaticon.com/icons/svg/527/527494.svg";
            }
            if (this.clientes.Documentos[2]==true){
              this.icodoc2= "https://image.flaticon.com/icons/svg/845/845646.svg";
            }else{
              this.icodoc2="https://image.flaticon.com/icons/svg/527/527494.svg";
            }
            if (this.clientes.Documentos[3]==true){
              this.icodoc3= "https://image.flaticon.com/icons/svg/845/845646.svg";
            }else{
              this.icodoc3 ="https://image.flaticon.com/icons/svg/527/527494.svg";
            }
            if (this.clientes.Documentos[4]==true){
              this.icodoc4= "https://image.flaticon.com/icons/svg/845/845646.svg";
            }else{
              this.icodoc4 ="https://image.flaticon.com/icons/svg/527/527494.svg";
            }

          console.log("documentos");

        }

        vstatus(){
          this.documentos=false;
          this.infouser = false;
          this.status=true;
          this.suming= this.clientes.ingresos.reduce((a, b) => a + b, 0);
          this.sumegre= this.clientes.egresos.reduce((a, b) => a + b, 0);
          this.balance= (this.suming)-(this.sumegre);
          if (this.balance>5000){this.candidato=true;}
          if (this.candidato==true){
            this.icobala ="https://image.flaticon.com/icons/svg/845/845646.svg";
          }else{
            this.icobala ="https://image.flaticon.com/icons/svg/527/527494.svg";
          }
        }
    }



    window.customElements.define(proyectoAPP.is, proyectoAPP);
  </script>
</dom-module>
